@import url("https://fonts.cdnfonts.com/css/default-sans");
@import url("https://fonts.cdnfonts.com/css/regisha");

:root {
  --clr-primary-200: #f3eed9;
  --clr-primary-400: #302c2a;
  --clr-highlight: #ffa3af;
  --clr-highlight-2: #007cbe;

  --clr-head-foot: #ffd639;

  --clr-neutral-100: #fff;
  --clr-neutral-900: #222c2a;

  --ff-primary: "Default Sans", sans-serif;
  --ff-accent: "Regisha", sans-serif;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/*start here------------------------------------------------*/

body {
  font-family: var(--ff-primary);
  font-size: 1.3125rem;
  line-height: 1.6;
  color: var(--clr-primary-400);
}

img {
  margin: auto;
  margin-bottom: 2em;
  margin-top: -1em;
  border: 0.1em solid #222c2a;
  max-width: 75%;
}

.navigation {
  display: flex;
  gap: 1em;
  padding: 1em;
  justify-content: center;
  position: fixed;
  border-bottom: 0.09em solid #222c2a;
  background-color: var(--clr-head-foot);
  width: 100%;
  font-weight: bolder;
}

.text-center {
  text-align: center;
}

a {
  outline: none;
  text-decoration: none;
}

a:link {
  color: var(--clr-primary-400);
}

a:visited {
  color: var(--clr-highlight-2);
}

a:focus {
  border-bottom: 1px solid;
  background: #bfd8d9;
}

.contact-section {
  width: 100%;
  background-color: var(--clr-head-foot);
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: 0.09em solid #222c2a;
}

.less-marg {
  margin-bottom: 0.3em;
}

h1,
h2,
h3 {
  color: var(--clr-primary-400);
  font-family: var(--ff-accent);
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 1em;
}

.special-text {
  color: var(--clr-highlight);
  font-family: var(--ff-accent);
  font-weight: 500;
  line-height: 1;
}

.special-text2 {
  color: var(--clr-highlight-2);
}

.stack {
  display: flex;
  flex-direction: column;
}

p {
  margin-bottom: 2em;
}

.big-font {
  font-size: 1.2em;
}

.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}

.header {
  padding-top: 5em;
}

.split {
  display: flex;
  flex-direction: column;
}

.margin-add {
  padding-bottom: 2em;
}

@media (min-width: 80em) {
  .split {
    flex-direction: row;
  }

  .split > * {
    flex-basis: 100%;
  }

  .split > * + * {
    margin-left: 2em;
  }
}
