@import url('https://fonts.cdnfonts.com/css/default-sans');
@import url('https://fonts.cdnfonts.com/css/regisha');

:root {
    --clr-primary-200: #F3EED9;
    --clr-primary-400: #302c2a;
    --clr-highlight: #6d82b5;

    --clr-neutral-100: #FFF;
    --clr-neutral-900: #222C2A;

    --ff-primary: 'Default Sans', sans-serif;
    --ff-accent: 'Regisha', sans-serif;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
    margin: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
    height: 100%;
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
    font: inherit;
}

/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}









/*start here------------------------------------------------*/



body {
    font-family: var(--ff-primary);
    font-size: 1.3125rem;
    line-height: 1.6;
}


.navigation {
    display: flex;
    gap: 1em;
    padding: 1em;
    justify-content: center;
    position: fixed;
    border-bottom: .09em solid #222C2A;
    background-color: #e9cdc6;
    width: 100%;
}


.text-center {
    text-align: center;
}





h1,
h2,
h3 {
    color: var(--clr-primary-400);
    font-family: var(--ff-accent);
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 1em;

}


.special-text {
    color: var(--clr-highlight);
    font-family: var(--ff-accent);
    font-weight: 500;
    line-height: 1;
}


p {
    margin-bottom: 2em;
}



.container {
    margin-inline: auto;
    width: min(90%, 70.5rem);
}

.header {
    padding-top: 5em;
}

.split {
    display: flex;
    flex-direction: column;
}

.margin-add {
    padding-bottom: 2em;
}

@media (min-width: 40em) {


    .split {
        flex-direction: row;
    }

    .split>* {
        flex-basis: 100%
    }

    .split>*+* {
        margin-left: 2em;
    }
}